<IfModule mod_headers.c>
    # Allow CORS for TOML files
    <FilesMatch "\.toml$">
        Header set Access-Control-Allow-Origin "*"
        Header set Content-Type "text/plain"
        Header set Content-Disposition "inline"
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect all requests to /public folder except for .toml files
    RewriteCond %{REQUEST_URI} !\.(toml)$ [NC]
    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1 [L]

    # Optionally handle Authorization header if required
    RewriteCond %{HTTP:Authorization} . 
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>
